In [1]:
listxx = [1, 2,3, 4,20]
lll= [6, 19, 21]
result = listxx + lll
print (result)

[1, 2, 3, 4, 20, 6, 19, 21]

In [2]:
def find_max(nums):
    max_num = float("-inf")
    for num in nums:
        if num > max_num:
            max_num = num
    return max_num

In [3]:
find_max(listxx)

20

In [4]:
t = " %(a)s %(b)s %(c)s"
print(t %dict(a='welcome', b = 'to', c='Ty'))

 welcome to Ty

In [5]:
x = ["ab" , "cd"]
print(list(map(len,x)))

[2, 2]

In [6]:
gh = "abcd"
for i in range(len(gh)):
    gh[i].upper()

print(gh)

abcd

In [7]:
"the {} fhfu {} hdhdu ".format('h','g')

'the h fhfu g hdhdu '

In [8]:
print("Welcome to TURING".capitalize())

Welcome to turing

In [9]:
list1=[1,2,3,4]
b =[sum(list1[0:x+1]) for x in range(0,len(list1))]
print(b)

[1, 3, 6, 10]

In [ ]:
INPUTS =["house", 'recon', 'veteu']
print(INPUTS)
for i in INPUTS:
    INPUTS.append(i.upper())
print(INPUTS)

['house', 'recon', 'veteu']

In [6]:
l =[1,2,3,4,5]
m = map(lambda x: 2**x, l)
print(list(m))

[2, 4, 8, 16, 32]

In [8]:
list1=[1,2,6,12]
list2=[12,6,2,1]
print(list1==list2)
print(set(list1)== set(list2))

False
True

In [12]:
def func1():
    h=50
    return h

In [13]:
func1()

50

In [14]:
print(h)

NameError: name 'h' is not defined

In [15]:
y= [2,5j,6]
y.sort()
print(y)

TypeError: '<' not supported between instances of 'complex' and 'int'

In [16]:
z = set('abc')
z.add('san')
z.update(set(["p", "q"]))
print(z)

{'san', 'p', 'q', 'a', 'c', 'b'}

In [18]:
i = 'welcome'
def welcome(i):
    i = i +"Welcome to Turing"return i

SyntaxError: invalid syntax (764845525.py, line 3)

In [19]:
data =[1,2,3]
def incr(x):
    return x +1

In [20]:
print(list(map(incr,data)))

[2, 3, 4]

In [21]:
print([i.lower() for i in "TURING"])

['t', 'u', 'r', 'i', 'n', 'g']

In [ ]:
print(2**(3**2), (2**3)**2, (2**3)**3)

In [ ]:
x ="abcdef"

In [4]:
example = [1 , 2, 3, 4,5]
from random import shuffle

In [18]:
mylist =[' ', 'O', ' ']

In [22]:
def shuffle_list(mylist):
    shuffle(mylist)
    
    return mylist

In [23]:

shuffle_list(mylist)

['O', ' ', ' ']

In [26]:
def player_guess():
    guess=""
    while guess not in ['0', '1', '2']:
        guess = input('Pick a number, 0, 1, or 2 ')
    
    return int(guess)

In [27]:
player_guess()

Pick a number, 0, 1, or 2 2

2

In [29]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('CORRECT GUESS!')
    else:
        print("Wrong guess")
        print(mylist)

In [31]:
mylist = [' ', 'O', ' ']

mixedlist = shuffle_list(mylist)

guess = player_guess()

check_guess(mixedlist,guess)

Pick a number, 0, 1, or 2 2
Wrong guess
[' ', 'O', ' ']

In [1]:
#MAP

In [2]:
def square(num):
    return num**2

In [6]:
my_nums =[1,2,3,4,5]

In [7]:
 map(square,my_nums)

In [9]:
for i in map(square,my_nums):
    print(i)

1
4
9
16
25

In [10]:
# or
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [11]:
 def splicer(mystring):
        if len(mystring)%2 == 0:
            return "EVEN"
        else:
            return mystring[0]

In [16]:
names =['daniel', 'Andy', 'Chioma']

In [17]:
list(map(splicer, names))

['EVEN', 'EVEN', 'EVEN']

In [18]:
#filter in built functions
def check_even(num):
    return num%2 == 0

In [22]:
mynumss = [1,2,3,4,5,6,7,8]

In [23]:
filter(check_even, mynumss)

In [24]:
list(filter(check_even, mynumss))

[2, 4, 6, 8]

In [25]:
for n in filter(check_even, mynumss):
    print(n)

2
4
6
8

In [31]:
#LAMBDA expressions mostly used for short simple and not complex functions
square = lambda num: num**2

In [33]:
square(9)

81

In [34]:
list(map(lambda num: num**2, mynumss))

[1, 4, 9, 16, 25, 36, 49, 64]

In [35]:
list(filter(lambda num: num%2==0, mynumss))

[2, 4, 6, 8]

In [37]:
list(map(lambda string: string[0], names))

['d', 'A', 'C']

In [24]:
class dog:
    
    species = ' Mammal'
    
    def __init__(self, breed,name,spots):
        
        
        self.breed = breed
        self.name = name
        self.spots = spots
        
    def bark(self, number):

        print("WOOF! My name is {} and my number is {}".format(self.name, number))

In [25]:
mydog= dog(breed = 'Rotweiler', name = 'Bruno', spots = False )

In [26]:
mydog.breed

'Rotweiler'

In [27]:
mydog.name

'Bruno'

In [28]:
mydog.spots

False

In [29]:
mydog.bark(5)

WOOF! My name is Bruno and my number is 5

In [30]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius
        
        
    def get_circumference(self):
        
        return self.radius * self.pi *2